<div class="actions center" >
    <dl>
        <dt>The Door is </dt>
        <dd>{{doorState}}<dd>
        <dt>The Lock is </dt>
        <dd>{{lockState}}</dd>
    </dl>

    <form action="/toggleLock">
        <label>Toggle Lock</label>
        <input type="button" style="width: 20%;">
    </form>
 </div>

        
        