<script>
    var sse = new EventSource('/api/stream')
    sse.addEventListener('doorbot.sse', function(event) {
        var data = JSON.parse(event.data);
        if (data.message === 'update') {
            $.get('/api/getStatus', function (data) {
                results = JSON.parse(data)
                $('#doorstate').html(results.doorState)
                $('#lockstate').html(results.lockState)
            }) 
        }      
    }, false);
</script>
    
<div class="actions center" >
    <ul>
        <li>The Door is <span id="doorstate">{{doorState}}</span></li>
        <dt>The Lock is <span id="lockstate">{{lockState}}</span></li>
    </ul>

    <form action="/api/toggleLock"> 
        <button id="togglebutton" type="submit">Toggle Lock</button>
    </form>
 </div>

        
        