{{>header}}

{{! 
    Doorbot Role
    Datetime
    Doorbot Serial Number
    Door 

    Last Reboot
    Last Caches update
    Number of Cache Entries

    if a door
    DoorLock State (with buttons)
    Door State   
}}

{{>footer}}