<ul>
    <li>
        <p>Location: {{location}}
    </li>
    <li>
        <p>Serial Number: {{serialnumber}}
     </li>
    <li>
        <p>Last Date/Time Cache Updates: {{lastrefresh}}
     </li>
    <li>
        <p>Number of ID Tags: {{cachesize}}</p>
    </li>
    <li>
        <p>Last Reboot: {{lastreboot}}</p>
     </li>
</ul>

