<ul class="center">
    <li>
        Location: {{location}}
    </li>
    <li>
        Serial Number: {{serialnumber}}
     </li>
    <li>
        Last Cache Update: {{lastrefresh}}
     </li>
    <li>
        Number of ID Tags: {{cachesize}}
    </li>
    <li>
        Last Reboot: {{lastreboot}}
     </li>
</ul>

