<html>
<head>
    <title>Bodgery Management{{#page_name}} - {{page_name}}{{/page_name}}</title>

    <link rel="stylesheet" href="/main.css">
</head>
<body>
<img src ="/static/images/DoorBotLogo.png" >


{{#is_lower_env}}
<div class="lower_env_banner env_{{env}}">
You are running on the {{env}} site
</div>
{{/is_lower_env}}