<html>
<head>
    <title>DoorBot Management</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css"
            media="all">
</head>
<body>
<img class="center" src ="/static/images/DoorBotLogo.png" >



{{#is_lower_env}}
<div class="lower_env_banner env_{{env}}">
You are running on the {{env}} site
</div>
{{/is_lower_env}}