<html>
<head>
    <title>DoorBot Management</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css"
            media="all">
    <script src="/static/js/jquery.3.7.1.min.js"></script>
    <script src="/static/js/doorbot.js"></script>
</head>
<body>
<img class="center" src ="/static/images/DoorBotLogo.png" >
