{{>header}}

{{! Display Current Status }}

{{bot_data}}

{{#locked}}
{{/locked}}
{{^locked}}
{{locked}}

{{#open}}
{{/open}}
{{^open}}
{{open}}


{{! Buttons (as switches) for Lock and Unlock }}

{{! Button to restart the doorbot system }}

{{! Button to reboot the doorbot }}


{{>footer}}