{{! Display Current Status }}

{{> bot_data}}

{{# locked}}
<P>I'm locked</p>
{{/ locked}}

{{^ locked}}
<P>I'm unlocked</p>
{{/ locked}}

{{# open}}
<P>I'm opened</p>
{{/ open}}

{{^ open}}
<P>I'm closed</p>
{{ open}}


{{! Buttons (as switches) for Lock and Unlock }}

{{! Button to restart the doorbot system }}

{{! Button to reboot the doorbot }}