DEBUG:
  True
#              GPIO header
gpio:
  data0:        10   #19
  data1:        9    #21
  switch:       24   #18
  doorlock:     22   #15
  reset_button:  4   #07
  format:       23   #16
  led:          17   #11
  buzzer:       18   #12
  SDA            2   #03
  SCL            3   #05

# - Console TxD     GPIO15(8)
# - Console RxD     GPIO16(10)
# - Consold GND     GND(6)


  

server:
  user: xxxxxxx
  password: xxxxxxx
  base_url: xxxxxxx

timing:
  timeout: 5 # ms
  lockOpenTime: 30 # seconds
  rebuildCacheInterval: 3600 # every hour

location:
  dummy

valid_locations: 
  - cleanroom.door
  - garage.door
  - woodshop.door
  - dummy
  - front.door
  - back_main.door
  - back_annex.door


